{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      <title>ecommerce</title>

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.modal.css' %}">

            <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}" data-rel-css="">
           <link rel="stylesheet" href="{% static 'css/example2.css' %}" data-rel-css="" /> -->


    </head>


     <nav class="navbar navbar-expand-lg navbar-dar bg-primary">
      <a class="navbar-brand" href="/">Digi Food</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop1' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Customer Support</a>
          </li>
            {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
          </li>
             {% else %}
             <li class="nav-item">
               <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
             </li>
                {% endif %}
        </ul>

      </div>
    </nav>



<div class="the-container">
    <div class="content container ">
           <div class="row">
               <div class="col-md-10">
               {% block content %}
               {% endblock %}
               </div>
           </div>
       </div>
  </div>

   <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/docs.min.js' %}"></script>
 <!-- <script src="{% static 'js/example2.js'  %}" data-rel-js></script> -->
 <script src="{% static 'js/app.js'  %}" charset="utf-8"></script>
 <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% block script %}

{% endblock %}
 <script>
$(document).ready(function(){
{% block jquery %}
{% endblock %}
});
</script>

<!--  Stripe STEP 2 put this in our project along with the stripe script tag above-->
<!-- NEXT: go back to checkout.html -->

    </body>
  }
</html>
