{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      <title>ecommerce</title>

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.modal.css' %}">


        <script type="text/javascript" src="https://js.stripe.com/v3"></script>
        <script src="{% static 'js/index.js' %}" data-rel-js></script>

            <!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->

            <link rel="stylesheet" href="{% static 'css/base.css' %}" data-rel-css="">
           <link rel="stylesheet" href="{% static 'css/example2.css' %}" data-rel-css="" />


    </head>


     <nav class="navbar navbar-expand-lg navbar-dar bg-primary">
      <a class="navbar-brand" href="/">Digi Food</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop1' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Customer Support</a>
          </li>
            {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
          </li>
             {% else %}
             <li class="nav-item">
               <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
             </li>
                {% endif %}
        </ul>

      </div>
    </nav>



<div class="the-container">
    <div class="content container ">
           <div class="row">
               <div class="col-md-10">
               {% block content %}
               {% endblock %}
               </div>
           </div>
       </div>
  </div>

   <script src="{% static 'js/l10n.js' %}" data-rel-js></script>


  <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
  <script src="{% static 'js/example2.js'  %}" data-rel-js></script>
  <!-- <script src="{% static 'js/app.js'  %}" charset="utf-8"></script> -->

<!--  Stripe STEP 2 put this in our project along with the stripe script tag above-->
<!-- NEXT: go back to checkout.html -->

    </body>
</html>
