<!-- STRIPE STEP 1  put this form down-->
<!-- put down the publishable key from your account -->
<!-- NEXT: go to base.html -->

{% extends 'base.html' %}

<!--  STEP 3: Add a jquery block-->
<!-- NEXT:  go back to base.html-->



{% block content %}
<h1>This is the shopping cart page</h1>
<form action="/checkout" method="POST">
  {% csrf_token %}
   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
       data-key="pk_test_JeThQEKbOQG8Q4WnPgkJDXJY" # Make sure to wrap the variable name with double {}
       data-amount="2000"
       data-name="Your APP"
       data-description="Your Product"
       data-email="example@something.com"
       data-shipping-address=True
       data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
       data-locale="auto"></script>
</form>

</script>
{% endblock %}
